@import './variables.scss';
@import './blocks/common.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: $main-color;
    background: $main-color;
}

